//======  Mobile display =====//

@media (max-width: 767px) {

    //---- Nav ---/ 
    


    //---- Footer ---/ 
    .tbl-hours {
        min-width: 200px;
    }
}
//======  Tablet display =====//


@media (min-width: 768px) {
    
    //---- Main ---/  
   

    .flex-container-main {
        @include grid;
        grid-template-columns: 1fr 1fr;
    }
   
    .img-spa, 
    .img-edu, 
    .img-shop {
        width: 50%;
    }

    .wrap-spa, 
    .wrap-edu, 
    .wrap-shop{
        .flex-column {
            margin-left: 15px;
        }
        p {
            margin-top: -5px;
        }
    }

     //---- Service Page ---/

     .tbl-services {
         min-width: 900px;
     }

    //---- Footer ---/ 

    .flex-container-footer {
        @include grid;
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 10px;
    }
 
    .back-to-top {
        grid-column-start: 2;
        grid-column-end: 3;
        text-align: center;
    }

    .tbl-hours {
        min-width: 230px;
    }
    
}

@media (max-width: 999px) {
    .flex {
        @include flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }
    .nav {
        h3{
            max-width: 250px;
            font-size: 1.3em; 
        }
        ul {
            padding-left: 10px;
        }
    }

}

//======  Large screen display =====//

@media (min-width: 1000px) {
    //---- Nav ---/

    .btn-dropdown {
        display: none;
    }

    .nav {
       
        height: 18vh;
        h3{
            max-width: 100%;
            justify-content: center;
            font-size: 2em;
        }
    }

    .btn-dropdown-menu {
        ul{
            display: flex; 
            flex-direction: row; 
            justify-content: space-around;
            font-size: 1.3em;
        }
    }
   

    //---- Main ---/

    Main {
        margin: auto;
    }

    
    //---- Footer ---/

    .flex-container-footer {
        justify-items: center;
    }
    
}

    

    

    



